.hero-wrap {
  width: 100%;
  height: 850px;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  z-index: 0;
}
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  /* .ftco-animate {
    opacity: 0;
    visibility: hidden;
  }
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  .ftco-animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  } */
  /*
  .slider-text {
    height: 850px;
    position: relative;
  }
  .align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .ftco-animate {
    opacity: 0;
    visibility: hidden;
  }
  .align-items-end {
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .d-flex {
    display: flex !important;
  }
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  .ftco-animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .w-100 {
    width: 100% !important;
  }
  .slider-text h1 {
    font-size: 60px;
    color: #000000;
    line-height: 1.1;
    font-weight: 500;
  }
  .mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
  }
  h1 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .slider-text p {
    font-size: 18px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
  }
  p {
    margin-top: 0;
  }
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  .btn.btn-primary {
    background: #589167 !important;
    border: 1px solid #589167 !important;
    color: #fff !important;
  }
  .btn {
    border-radius: 3px;
    box-shadow: none !important;
    font-size: 15px;
    font-weight: 500;
  }
  .pl-4, .px-4 {
    padding-left: 1.5rem !important;
  }
  .pr-4, .px-4 {
    padding-right: 1.5rem !important;
  }
  .pb-3, .py-3 {
    padding-bottom: 1rem !important;
  }
  .pt-3, .py-3 {
    padding-top: 1rem !important;
  }
  .btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
  .btn.btn-white {
    background: ##141619 !important;
    border: 1px solid ##141619 !important;
    color: #000000 !important;
  }
  @media (max-width: 767.98px) {
    .slider-text .img-video {
      bottom: 80px;
      left: 0;
    }
  }
  .slider-text .img-video {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #141619;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    position: absolute;
  }
  .justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  a {
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #141619;
  }
  .slider-text .img-video span {
    color: #141619;
    font-size: 24px;
  } */
  

section{
  display: block;
}
.no-gutters > .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.intro.color-1 {
  background: #ADBBDA;
}
@media (min-width: 768px) {
  .ftco-intro .intro {
    margin-top: -70px;
  }
}
.ftco-intro .intro {
  z-index: 0;
  position: relative;
}
.intro {
  width: 100%;
  background: #ADBBDA;
  padding: 30px;
}
.ftco-intro .intro.aside-stretch {
  background: #ADBBDA;
}
@media (min-width: 768px) {
  .ftco-intro .intro {
    margin-top: -70px;
  }
}
.ftco-intro .intro {
  z-index: 0;
  position: relative;
}
.intro .icon {
  margin-right: 20px;
}
.intro .icon span {
  font-size: 30px;
  color: #fff;
}
.intro .text {
  color: #141619;
}
.intro .text h2 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
.ftco-intro .intro.aside-stretch::after {
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  content: '';
  width: 360%;
  background: #ADBBDA;
  z-index: 99;
}
*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.analysis{
  padding: 6em 0;
  position: relative;
}

.col-md-3{
  position: relative;
  max-width: 25%;
  padding-right: 15px;
  padding-left: 15px;
}

.analysis1{
  width: 100%;
  display: block;
  padding: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.person {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  border: none;                             
  transition: box-shadow 0.3s ease;         
}

.person:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Increase shadow on hover */
}

